* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    /* Declaro variables CSS con colores principales */
    --color-theme: #00594c;
    --color-active: #5df2d6;
    --color-back-active: #04957d;
    --color-gradient: linear-gradient(to right, var(--color-theme), var(--color-back-active));
}

body {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

select {
    width: 200px;
    height: 50px;
    font-size: medium;
    padding-left: 20px;
    border-width: 1.8px;
    border-radius: 5px;
    display: inline-block;
}

button {
    user-select: none;
    -webkit-user-select: none;
    display: inline-block;
    width: 120px;
    height: 50px;
    font-size: medium;
    border-radius: 15px;
    border-width: 0px;
    background-color: #00594c;
    color: white;
}

.boton-agregar {
    margin-left: 25%;
    margin-bottom: 15%;
}

.botones-help {
    justify-items: center;
}

.inputs {
    display: block;
    width: 230px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 10px;
}

.inputs-ayuda {
    display: block;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 2px;
}

.input-textarea {
    border-radius: 10px;
}

.ayuda {
    margin-left: 1%;
}

.error-ayuda {
    position: relative;
    background-color: #dc3545;
    display: block;
    padding: 1px;
    padding-top: 20px;
    border-radius: 15px;
    margin-top: 40px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, var(--color-theme), var(--color-back-active));
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 2px #5df2d6;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

nav li {
    flex: 0 0 auto;
}

nav li a {
    display: block;
    padding: 16px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-active);
}

nav li.current-page a {
    color: var(--color-theme);
    background-color: var(--color-active);
    pointer-events: none;
    border-radius: 15px 15px 0 0;
}

main {
    margin-top: 120px;
    overflow: auto;
    padding: 16px;
    padding-bottom: 60px;
    height: calc(100% - 120px);
}

p {
    text-align: center;
}

.pindex {
    text-align: center;
}

h1 {
    text-align: center;
    margin: 0;
    color: white;
}

h1>img {
    width: 70px;
    vertical-align: middle;
}

h2 {
    color: var(--color-theme);
    margin: 16px 0;
    text-align: center;
}

h3 {
    color: var(--color-theme);
    margin: 8px 0;
    text-align: center;
}

main section {
    display: flex;
    justify-content: space-around;
}

/* Card del clima */
.card {
    width: 50%;
    max-width: 300px;
    margin: 30px auto;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 1px 3px 5px 6px rgba(0,0,0,0.2);
}

.card-container {
    padding: 2px 16px;
}

.card-img {
    margin-left: 30%;
}

.success {
    position: relative;
    background-color: #28a745;
    display: block;
    padding: 15px;
    border-radius: 15px;
    margin-top: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
}

.error {
    position: relative;
    background-color: #dc3545;
    display: block;
    padding: 15px;
    border-radius: 15px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 30px;
}

.warning {
    position: relative;
    background-color: #ffc107;
    display: block;
    padding: 15px;
    border-radius: 15px;
    margin-right: 30%;
    margin-left: 30%;
}

.mensaje {
    color: white;
}

footer {
    position: fixed;
    bottom: 0px;
    background: linear-gradient(to right, var(--color-theme), var(--color-back-active));
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 0px 2px #5df2d6;
}

footer p {
    font-size: small;
    color: white;
}

main p {
        margin-bottom: 16px;
    }

/* Media Query: Estilos a aplicar sólo en pantallas mayores a 400px */
@media (min-width: 400px) {
    main {
        padding-left: 10%;
        padding-right: 10%;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}